<html>
    <head>
        <meta charset="UTF-8">
        <title>
            오늘은 자주동 2차
        </title>
    </head>

    <body>
        <h1>오늘은 무엇을 할까?</h1>
        <ol>
            <li style="font-size:20px;">html 써보기!</li>
            <li style="font-size:20px;">오늘 있었던 일 설명하기!</li>
        </ol>
        <img src="static_url/rabbit2.png" title="rabbit" height="350" width="350">
        <div style="width:450px; height:50px; background-color:tomato; font-size:30px;">안녕하세요 저는 이예진 입니다</div>
        <div style="width:450px; height:50px; background-color:orange; font-size:30px; ">저는 오늘 html을 배우고 있어요</div>
        <p style="font-size:20px;">헬스장 가서 <span style="color:indigo;  font-size:30px; font-weight:bold">사이클</span>을 무려<span style="color:red; font-size:30px; font-weight:italic">2.6km</span>만큼 탔어요</p>
        <p><span style="display:inline-bolck; margin:20px; padding:5px; font-size:30px; border:dotted 8px yellow; background-color:green">그리고 지금 배가 고파요</span></p>
        <p><span style="display:inline-bolck; margin:20px; padding:5px; font-size:30px; border:dotted 8px blue; background-color:lightblue">매우 매우 매우</span></p>
        <p><button style="margin:20px; background-color:lightcoral; font-size:30px; "type ="button" onclick="location.href='https://ko.wikipedia.org/wiki/%EC%82%AC%EC%9D%B4%ED%81%B4' "> 사이클</button></p>
    </body>
</html>
